.panel {
    margin-left: 210px;
    margin-right: 210px;
}

.panel-heading {
    background-color:orange;
    color: white;
}

#head {
    background: orange;
    color: white;
}

#panel-table {
    margin-left: 10px;
    margin-right: 10px; 
    margin-top: 30px;
}